@import "tailwindcss";

@layer components {
    .primary {
        @apply text-[#4338ca];
    }
}

@theme {
    --breakpoint-2xl: 1320px;
    --color-primary: #4338ca;
    --color-secondary: #64748b;
}